header {
    background-color: #008CBA;
    margin: 0 auto;
    padding-top: 1ex;
    padding-bottom: 1ex;
}
header h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: cadetblue;
}

body{
    margin: auto;
}
#regions a{
    text-decoration: none;
    width: 10ex;
    background-color: #008CBA;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: white;
    padding: 12px 22px;
    margin: 15px 7px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#regions a:hover {
    background-color: #008CBA;

}
input[type=text], select {
    font-family: Arial, Helvetica, sans-serif;
    width: 100ex;
    padding: 10px 10px;
    margin: 2ex auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit],input[type=button] {
    width: 10ex;
    background-color: #008CBA;
    color: white;
    padding: 12px 10px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit], input[type=button]:hover {
    background-color: #008CBA;
}

#regions {
    margin: 3ex auto;
    text-align: center;
    width: 100%;
}
#regions ol {
    width: 100ex;
    margin: 5ex auto;
} 
#regions li{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    list-style: none;
    width: 75ex;
    padding: 1ex 2ex;
    margin-right: 4ex;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#curResult {
    display: none;
}

#btn {
    display: none;
}
#map {
    margin: auto;
    margin-top: 3ex;
    margin-bottom: 3ex;
}
#nav {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}
#nav ul {
    width: 100ex;
    margin: auto;
    list-style-type: none;
    overflow: hidden;

}

#nav li {
    font-family: Arial, Helvetica, sans-serif;
    float: left;
}

#nav li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 1ex 3ex;
    text-decoration: none;
}

#nav li a:hover:not(.active) {
    background-color: #ddd;
}

#nav li a.active {
    color: white;
    background-color: #4CAF50;
}
#intro {
    margin: auto;
    text-align: center;
    width: 100%;
}
#intro ol {
    width: 100ex;
    margin: 5ex auto;
} 
#intro li{
    text-align: left;

    list-style: none;
    width: 65ex;
    padding: 1ex 1ex;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.red{
    color: red;
}